html,
body {
    overflow-x: hidden;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    background-color: #FAFAFA;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: calc(100% + 20px);
    background-color: #FAFAFA;
    transition: all .25s;
}

.MuiSelect-select:focus {
    background-color: #FAFAFA !important;
}

.preentrevista-checkbox {
    margin-bottom: 0;
}

.preentrevista-checkbox:first-of-type {
    margin-top: 1.25rem;
}

.preentrevista-checkbox + div {
    margin-top: 1rem;
}

.preentrevista-preguntas > div[typeoflevel="ROOT"] {
    position: relative;
    margin-top: 4rem;
}

.preentrevista-preguntas > div[typeoflevel="ROOT"]::before {
    content: "";
    position: absolute;
    top: -2rem;
    left: 0;
    width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}